.Intro {
  &__main-container {
    height: 100vh;
    width: 100vw;
    background: url('~/static/images/background2.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &:after {
      content: '';
      position: absolute;
      left: 500px;
      margin-left: -500px;
      width: 0;
      height: 0;
      border-bottom: solid 100px #fff;
      border-left: solid 0px transparent;
      border-right: solid 100vw transparent;
    }
  }

  &__black-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  &__title {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 10;
    margin: 30vh auto auto;
    font-family: 'Cinzel Decorative', cursive;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      font-family: 'Muli', sans-serif;
      font-weight: 200;
    }
  }

  &__logo {
    position: fixed;
    left: 0px;
    top: 20px;
  }

  &__buttons-container {
    width: 600px;
    margin: 60px auto;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 12px;
  }

  &__buttons-container:hover &__button-description {
    opacity: 1;
  }

  &__button {
    height: 90px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    svg {
      top: 0;
      position: relative;
      transition: all 400ms;
      margin: auto;
    }

    &-description {
      color: #fff;
      font-family: 'Muli', sans-serif;
      font-weight: 200;
      text-align: center;
      opacity: 0;
      transition: all 400ms;
    }

    &:hover svg {
      animation: hoverOnBtn 1s infinite;
    }
  }

  @keyframes hoverOnBtn {
    0%   { top: 0; }
    50% { top: 5px; }
    100% { top: 0; }
  }

  @media screen and (max-width: 650px) {
    &__main-container {
      &:after {
        content: '';
        position: absolute;
        left: 500px;
        margin-left: -500px;
        width: 0;
        height: 0;
        border-bottom: solid 40px #fff;
        border-left: solid 0px transparent;
        border-right: solid 100vw transparent;
      }
    }

    &__buttons-container  {
      width: 320px;
    }

    &__title {
      h1 {
        font-size: 32px;
      }
    }
    
  }

  @media screen and (max-width: 500px) {
    &__buttons-container  {
      width: 100vw;
    }

    &__button-description {
      font-size: 12px;
    }

    &__title {
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  @media screen and (orientation:landscape) {
    &__main-container {
      &:after {
        border-bottom: solid 0px #fff;
        border-left: solid 0px transparent;
        border-right: solid 0vw transparent;
      }
    }

    &__buttons-container {
      margin: 18px auto;
    }

    &__title {
      margin: 20vh auto auto;
    }
  }
}