@use "@/assets/stylesheets/main-variables" as *;
@use "@/assets/stylesheets/mixins" as *;
.Contact {
  &__main-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  &__center {
    display: flex;
    flex-direction: column;
    margin: 90px auto 90px;
    justify-content: space-between;
    max-width: 1472px;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    background-color: #fff;
  }

  &__half-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 32px 0;
    background-color: #fff;
    max-width: 1440px;
    width: 100%;

    @media (max-width: 1440px) {
      flex-direction: column;
    }
  }

  &__half-container-cell {
    display: flex;
    flex-direction: column;
    width: 300px;
    @media (max-width: 1440px) {
      margin: 0 0 32px;
    }

    @media (max-width: 324px) {
      width: 100%;
    }
  }

  &__half-container-title {
    margin-bottom: 12px;
    @include text(22px, left, $black-400, 600);
  }

  &__logo-dezal {
    background-position: 50%;
    background-image: url("/images/dezal.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    cursor: pointer;
    height: 100px;
    margin: 0px auto;
    border-radius: 8px;
  }

  &__logo-tb {
    cursor: pointer;
    height: 150px;
    margin: 0 auto;
    display: flex;
    border-radius: 8px;
  }

  &__text {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    line-height: 45px;
    text-decoration: none;
    span {
      font-weight: 600;
    }
  }

  &__title {
    @include text(32px, left, $black-400, 500);
    margin: 0 0 32px 0;

    @include for-big-desktop-up {
      @include text(48px, left, $black-400, 500);
    }

    @include for-phone-only {
      @include text(26px, left, $black-400, 500);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 0 16px;
    max-width: 1472px;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
  }
}
