.Offer {
  &__main-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto 50px;
    box-sizing: border-box;
    @media (max-width: 1200px) {
      width: 100vw;
      padding: 0 12px;
    }
  }

  &__center-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: unset;
    }
  }

  &__left-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: max-content;
    @media (max-width: 1200px) {
      margin: 0 auto;
    }
    @media (max-width: 524px) {
      width: 100%;
    }
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 250px;
    @media (max-width: 1200px) {
      margin: 0 auto;
      padding-top: 0;
    }
    @media (max-width: 524px) {
      width: 100%;
    }
  }

  &__box-container {
    margin: auto;
    margin-bottom: 70px;
    position: relative;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    @media (max-width: 524px) {
      width: 100%;
    }
  }

  &__image-container-left {
    overflow: hidden;
    width: 500px;
    height: 450px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    @media (max-width: 524px) {
      width: 100%;
    }
  }

  &__image-container-right {
    overflow: hidden;
    width: 500px;
    height: 450px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    @media (max-width: 524px) {
      width: 100%;
    }
  }

  &__offer-title {
    font-family: "Charmonman", cursive;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin: 0 0 120px;
    @media (max-width: 600px) {
      margin: 0 0 60px;
    }
  }

  &__box-container:hover &__image {
    transform: scale(1.1);
  }

  &__image {
    height: 100%;
    width: 100%;
    transition: 400ms;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__box-info-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 200ms;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
    border-radius: 8px;
  }

  &__box-info-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 200ms;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
    border-radius: 8px;
  }

  &__box-info {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

    @media (max-width: 524px) {
      flex-direction: column;
    }
  }

  &__box-name-right {
    position: relative;
    font-size: 24px;
    font-family: "Charmonman", cursive;
    font-weight: 400;
    color: #000;
    text-align: center;
    padding: 12px 0;
  }

  &__box-name-left {
    position: relative;
    font-size: 24px;
    font-family: "Charmonman", cursive;
    font-weight: 400;
    color: #000;
    text-align: center;
    padding: 12px 0;
  }

  &__info {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    line-height: 32px;
    min-width: calc(50% - 16px);
    padding-left: 16px;
  }
}
